*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px ;
    /* font-family là kiểu chữ */
    /* font-size là cỡ chữ: đơn vị: px( pixel ) */
    /* vì body chứa tất cả các thẻ khác nên a viết font-family đây để áp dụng kiểu chữ cho cả trang luôn */
    font-family: 'Corinthia', cursive;
}
#wrap-heart{
    width: 300px;
    height: 300px;
    position: relative;
    filter: blur(3px);
    animation: scaleAni 2s ease-in-out infinite;
}
@keyframes scaleAni {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
}
#bottom{
    width: 70px;
    height: 70px;
    background-color: rgb(243, 17, 17);
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%) rotate(45deg);
}
#left {
    width: 70px;
    height: 70px;
    background-color: rgb(243, 17, 17);
    position: absolute;
    right: 47%;
    border-radius: 50%;
    top: 51%;
}
#right {
    width: 70px;
    height: 70px;
    background-color: rgb(243, 17, 17);
    position: absolute;
    left: 47%;
    border-radius: 50%;
    top: 51%;
}

#text{
    top: 0px;
    color: rgb(42, 233, 74);
    z-index: 1;
    position: absolute;
    top: calc( 100% - 80px );
    animation: addFilter 2s ease-in-out infinite;
}
@keyframes addFilter {
    0%, 100%{
        filter: blur(0px)
    }
    50%{
        filter: blur(2px)
    }
}